.form-control {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px
}

#service-header #service-div, #service-header #service-h2, .pricing-page-header #pricing-title {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000
}

.form-control, .pagination a {
  text-transform: uppercase
}

img {
  max-width: 100%;
  height: auto
}

iframe {
  border: 0
}

.alert, .btn.btn-round, .examples, .form-control, .label, .modal-content, .nav-pills>li>a, .nav-tabs>li>a, .panel-group .panel, .panel-heading, .progress, .well {
  border-radius: 2px
}

.align-center, .count-item, .pr-remove {
  text-align: center
}

.post-images-slider, .progress-bar, .search-box, .testimonials-slider {
  position: relative
}

.btn, a {
  transition: 125ms ease-in-out
}

.client-logo, .flex-control-nav>li>a, .flex-direction-nav a, .gallery-caption, .gallery-image img, .gallery-image:after, .post-images-slider, .post-thumbnail, .post-video, .price-table, .team-detail, .team-image:after, .work-caption, .work-image:after, .work-image>img {
  transition: .3s ease-in-out
}

.form-control, .form-control:focus, .form-control:hover, .navbar-custom .dropdown-menu, .panel, .progress, .well {
  box-shadow: none
}

.divider-w, .holder-w:before {
  border-top: 1px solid #eaeaea
}

.help-block ul, .widget ul, .work-details ul, .works-grid {
  list-style: none;
  padding: 0;
  margin: 0
}

.navbar-custom+.main {
  margin-top: 50px
}


.module-small {
  position: relative;
  padding: 140px 0
}

.module-small {
  padding: 70px 0
}

.module-extra-small {
  padding: 25px 0
}

.module-medium {
  padding: 75px 0
}

.bg-dark-30:before, .bg-dark-90:before, .bg-gradient:before, .landing-reason:before, .landing-screenshot:before {
  width: 100%;
  top: 0;
  left: 0;
  content: " "
}

.bg-dark-30:before, .bg-dark-90:before, .bg-gradient:before {
  position: absolute;
  height: 100%
}

.divider-w {
  margin: 0
}

.divider-d {
  border-top: 1px solid #202020;
  margin: 0
}


.bg-dark, .bg-dark .alt-module-subtitle h5, .bg-dark .module-subtitle, .bg-dark .module-title, .bg-dark a:focus, .bg-dark a:hover, .bg-dark-30, .bg-dark-30 .alt-module-subtitle h5, .bg-dark-30 .module-subtitle, .bg-dark-30 .module-title, .bg-dark-60 .alt-module-subtitle h5, .bg-dark-60 .module-subtitle, .bg-dark-60 .module-title, .bg-dark-90, .bg-dark-90 .alt-module-subtitle h5, .bg-dark-90 .module-subtitle, .bg-dark-90 .module-title, .team-social a:hover, .works-grid.works-hover-g .work-descr {
  color: #fff
}

.bg-dark, .btn.btn-d:focus, .btn.btn-d:hover, .owl-controls .owl-page.active span, .owl-controls.clickable .owl-page:hover span, .progress-bar.pb-dark {
  background: #111
}

.bg-dark-30:before {
  background: rgba(2, 2, 2, .4)
}

.bg-dark-90:before {
  background: rgba(34, 34, 34, .9)
}

.bg-gradient:before {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: linear-gradient(to bottom, rgba(40, 115, 113, .57) 25%, rgba(115, 54, 31, .67) 75%)
}

.bg-light {
  background: #f6f6f6
}

.parallax-bg {
  background-attachment: fixed;
  background-size: cover
}

.p-0 {
  padding: 0 !important
}

.pt-10 {
  padding-top: 10px !important
}

.pt-20 {
  padding-top: 20px !important
}

.pt-30 {
  padding-top: 30px !important
}

.pt-40 {
  padding-top: 40px !important
}

.pt-50 {
  padding-top: 50px !important
}

.pt-140 {
  padding-top: 140px !important
}

.pb-10 {
  padding-bottom: 10px !important
}

.pb-20 {
  padding-bottom: 20px !important
}

.pb-30 {
  padding-bottom: 30px !important
}

.pb-40 {
  padding-bottom: 40px !important
}

.pb-50 {
  padding-bottom: 50px !important
}

.pb-140 {
  padding-bottom: 140px !important
}

.mt-0 {
  margin-top: 0 !important
}

.mt-10 {
  margin-top: 10px !important
}

.mt-20 {
  margin-top: 20px !important
}

.mt-30 {
  margin-top: 30px !important
}

.mt-40 {
  margin-top: 40px !important
}

.mt-50 {
  margin-top: 50px !important
}

.mt-60 {
  margin-top: 60px !important
}

.mt-70 {
  margin-top: 70px !important
}

.mt-80 {
  margin-top: 80px !important
}

.mb-0 {
  margin-bottom: 0 !important
}

.mb-10 {
  margin-bottom: 10px !important
}

.mb-20 {
  margin-bottom: 20px !important
}

.mb-50 {
  margin-bottom: 50px !important
}

.mb-60 {
  margin-bottom: 60px !important
}

.mb-70 {
  margin-bottom: 70px !important
}

.mb-80 {
  margin-bottom: 80px !important
}

@media only screen and (max-width:991px) {
  .mt-sm-0 {
    margin-top: 0 !important
  }

  .mt-sm-10 {
    margin-top: 10px !important
  }

  .mt-sm-20 {
    margin-top: 20px !important
  }

  .mt-sm-30 {
    margin-top: 30px !important
  }

  .mt-sm-40 {
    margin-top: 40px !important
  }

  .mt-sm-50 {
    margin-top: 50px !important
  }

  .mt-sm-60 {
    margin-top: 60px !important
  }

  .mt-sm-70 {
    margin-top: 70px !important
  }

  .mt-sm-80 {
    margin-top: 80px !important
  }

  .mb-sm-0 {
    margin-bottom: 0 !important
  }

  .mb-sm-10 {
    margin-bottom: 10px !important
  }

  .mb-sm-20 {
    margin-bottom: 20px !important
  }

  .mb-sm-30 {
    margin-bottom: 30px !important
  }

  .mb-sm-40 {
    margin-bottom: 40px !important
  }

  .mb-sm-50 {
    margin-bottom: 50px !important
  }

  .mb-sm-60 {
    margin-bottom: 60px !important
  }

  .mb-sm-70 {
    margin-bottom: 70px !important
  }

  .mb-sm-80 {
    margin-bottom: 80px !important
  }
}

@media only screen and (max-width:767px) {
  .mt-xs-0 {
    margin-top: 0 !important
  }

  .mt-xs-10 {
    margin-top: 10px !important
  }

  .mt-xs-20 {
    margin-top: 20px !important
  }

  .mt-xs-30 {
    margin-top: 30px !important
  }

  .mt-xs-40 {
    margin-top: 40px !important
  }

  .mt-xs-50 {
    margin-top: 50px !important
  }

  .mt-xs-60 {
    margin-top: 60px !important
  }

  .mt-xs-70 {
    margin-top: 70px !important
  }

  .mt-xs-80 {
    margin-top: 80px !important
  }

  .mb-xs-0 {
    margin-bottom: 0 !important
  }

  .mb-xs-10 {
    margin-bottom: 10px !important
  }

  .mb-xs-20 {
    margin-bottom: 20px !important
  }

  .mb-xs-30 {
    margin-bottom: 30px !important
  }

  .mb-xs-40 {
    margin-bottom: 40px !important
  }

  .mb-xs-50 {
    margin-bottom: 50px !important
  }

  .mb-xs-60 {
    margin-bottom: 60px !important
  }

  .mb-xs-70 {
    margin-bottom: 70px !important
  }

  .mb-xs-80 {
    margin-bottom: 80px !important
  }
}


.scroll-up a:active, .scroll-up a:hover {
  opacity: 1;
  color: #000;
}

.alert i {
  margin-right: 5px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

.btn.btn-w {
  background: rgba(255, 255, 255, .8);
  color: #111;
}

.btn.btn-font-w:hover, .btn.btn-w:focus, .btn.btn-w:hover {
  background: #fff;
  color: #111;
}

.btn.btn-g {
  background: #e5e5e5;
  color: #111;
}

.btn.btn-g:focus, .btn.btn-g:hover {
  background: #d8d8d8;
  color: #111
}

.btn.btn-border-w:focus, .btn.btn-border-w:hover {
  background: #fff;
  border-color: transparent;
  color: #111
}

.btn.btn-d, .btn.btn-font-w {
  color: #fff
}

.btn.btn-d {
  background: rgba(17, 17, 17, .8)
}

.btn.btn-b, .btn.btn-border-d:focus, .btn.btn-border-d:hover {
  background: #111;
  color: #fff
}

.btn.btn-font-w, .works-grid.works-hover-w .work-item:hover .work-image:after {
  background: rgba(255, 255, 255, .8)
}

.btn.btn-b:focus, .btn.btn-b:hover, .tags a:hover {
  background: rgba(17, 17, 17, .8)
}

.btn-border-d {
  background: 0 0;
  border: 1px solid #111;
  color: #111
}

.btn.btn-lg {
  padding: 12px 45px;
  font-size: 13px
}

.btn.btn-sm {
  padding: 6px 25px;
  font-size: 10px;
  letter-spacing: 1px
}

.btn.btn-xs {
  padding: 4px 19px;
  font-size: 10px;
  letter-spacing: 0
}

.btn-list .btn {
  margin: 5px 0
}

::-moz-selection {
  background: #000;
  color: #fff
}

::selection {
  background: #000;
  color: #fff
}

.form-control {
  font-size: 11px;
  height: 33px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  transition: .4s ease-in-out
}

.form-control:focus, .pagination a.active, .price-table:hover {
  border-color: #cacaca
}

.form-horizontal .form-group-lg .form-control, .input-lg {
  height: 43px;
  font-size: 13px
}

.form-horizontal .form-group-sm .form-control, .input-sm {
  height: 29px;
  font-size: 10px
}

.input-group-addon {
  border: 1px solid #e4e4e4 !important
}

.sidebar .widget-title, .works-grid.works-hover-w .work-title {
  color: #111
}

a:focus, a:hover {
  text-decoration: none;
  color: #aaa;
  outline: 0
}

.bg-dark a, .work-descr {
  color: #aaa
}

h5, h6 {
  line-height: 1.4;
  font-weight: 400
}

.post-images-slider, .post-thumbnail, .post-video, .work-details, blockquote, ol {
  margin: 0 0 20px
}

blockquote {
  border: 0;
  font-style: italic;
  font-size: 15px;
  padding: 0
}

.large-text {
  font-size: 24px !important
}

.finance-image-content .module-title, .module-icon {
  margin-bottom: 20px
}

.module-icon {
  text-align: center;
  font-size: 32px
}

.flex-direction-nav a {
  position: absolute;
  display: block;
  height: 100%;
  width: 50%;
  top: 0;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  margin: 0
}

.flex-control-nav>li, .owl-pagination div {
  display: inline-block
}

.flex-direction-nav .flex-prev {
  opacity: 0;
  left: 0;
  cursor: url(../images/prev-light.png), e-resize
}

.flex-direction-nav .flex-next {
  opacity: 0;
  right: 0;
  cursor: url(../images/next-light.png), e-resize
}

.flex-control-nav {
  position: absolute;
  width: auto;
  left: 50%;
  bottom: 20px;
  z-index: 11;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

.flex-control-nav>li {
  margin: 5px 3px
}

.flex-control-nav>li>a {
  background: 0 0;
  border: 1px solid #fff;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 6px
}

.flex-control-nav>li>a.flex-active, .flex-control-nav>li>a:hover {
  background: #fff
}

.blog-page-header, .contact-page-header, .gallery-page-header, .pricing-page-header {
  background-repeat: no-repeat
}

.navbar a {
  transition: color 125ms ease-in-out
}

.navbar-custom .dropdown-menu {
  background: rgba(26, 26, 26, .9);
  border-radius: 0;
  border: 0;
  padding: 0;
  box-shadow: none
}

#service-nav {
  background-color: #000
}

.navbar-custom .dropdown-menu>li>a {
  border-bottom: 1px solid rgba(73, 71, 71, .15) !important;
  padding: 11px 15px;
  letter-spacing: 2px;
  color: #999
}

.navbar-custom .dropdown-menu .dropdown-menu {
  border-left: 1px solid rgba(73, 71, 71, .15);
  left: 100%;
  right: auto;
  top: 0;
  margin-top: 0
}

.navbar-custom .dropdown-menu.left-side .dropdown-menu {
  border: 0;
  border-right: 1px solid rgba(73, 71, 71, .15);
  right: 100%;
  left: auto
}

.navbar-custom .dropdown-menu>li>a:focus, .navbar-custom .dropdown-menu>li>a:hover, .navbar-custom .nav .open>a, .navbar-custom .nav .open>a:focus, .navbar-custom .nav .open>a:hover, .navbar-custom .nav>li>a:focus, .navbar-custom .nav>li>a:hover {
  background: 0 0;
  color: #fff
}

.navbar-custom .dropdown-menu>li>a:hover {
  background: rgba(255, 255, 255, .1) !important
}

.navbar-custom .dropdown-toggle:after {
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  margin-top: -6px;
  font: 9px/1 FontAwesome;
  content: "\f107";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.dropdown-menu {
  min-width: 180px;
  font-size: 11px
}

.titan-title-size-1 {
  letter-spacing: 4px;
  font-size: 15px
}

.titan-title-size-4 {
  letter-spacing: 24px;
  font-weight: 400;
  font-size: 48px
}

.about-page-header:before, .gallery-page-header:before {
  background: rgba(2, 2, 2, .2)
}

.service-page-header:before {
  background: rgba(2, 2, 2, .1)
}

.service-page-header {
  background-color: rgba(0, 0, 0, .45);
  background-blend-mode: multiply
}

.pricing-page-header {
  background-position: 40% 14%
}

.pricing-page-header:before {
  background: rgba(2, 2, 2, .6)
}

.pricing-page-header #pricing-title {
  color: #0ff
}

.restaurant-menu-bg:before, .testimonial:before {
  background: rgba(2, 2, 2, .4)
}

#service-header #service-h2 {
  color: #fff;
  font-weight: 700
}

#service-header #service-div {
  color: #fff;
  font-weight: 600
}

.footer {
  padding: 10px 0
}

.footer .copyright, .post-columns .post-entry p:last-child, .price-table .small, .reviews, .widget-posts li:last-child {
  margin: 0
}

.footer .footer-social-links {
  text-align: right
}

.footer .footer-social-links a {
  display: inline-block;
  padding: 0 6px
}

.content-box {
  margin: 20px 0;
  text-align: center
}

.alt-features-icon {
  line-height: 1.2;
  font-size: 42px;
  color: #111
}

.alt-features-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
  color: #111;
  margin: 16px 0 15px
}

.alt-features-item {
  position: relative;
  padding-left: 55px;
  margin: 65px 0 0
}

.alt-features-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 40px;
  font-size: 28px
}

.alt-features-title {
  font-size: 13px;
  margin: 0 0 10px
}

.content-box-title {
  font-weight: 400;
  font-size: 18px;
  color: #111;
  margin: 16px 0 15px
}

.team-item {
  position: relative;
  text-align: center
}

.gallery-image, .shop-item-image, .team-image, .work-image {
  position: relative;
  overflow: hidden
}

.documentation-page, .panel-title, .team-detail p, .team-name, .testimonial-title {
  font-size: 14px
}

.borderline:after, .borderline:before {
  left: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  content: ""
}

.filter, .price-table, .video-box, .work-caption {
  text-align: center
}

.price-table {
  background: #fff;
  border: 1px solid #eaeaea;
  padding: 25px 20px;
  margin: 15px 0 30px;
  border-radius: 2px
}

.price-table.best {
  margin: 0 0 30px
}

.borderline {
  position: relative;
  background: #eaeaea;
  display: block;
  height: 1px;
  width: 100%;
  margin: 20px 0 15px
}

.borderline:before {
  position: absolute;
  background: #eaeaea;
  bottom: -7px;
  height: 14px;
  width: 14px;
  margin-left: -7px
}

.borderline:after {
  position: absolute;
  background: #fff;
  bottom: -5px;
  height: 16px;
  width: 16px;
  margin-left: -8px
}

.price-table h4 {
  color: #111;
  margin: 0
}

.price-table p.price {
  font-size: 60px;
  color: #111;
  padding: 0;
  margin: 0 0 0 -10px
}

.price-table p.price span {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  padding-top: 25px
}

.price-details {
  list-style: none;
  padding: 0;
  margin: 0 0 23px
}

.price-details li {
  padding: 7px 0
}

.price-details li>span {
  text-decoration: line-through;
  color: #aaa
}

.video-subtitle {
  color: rgba(255, 255, 255, .5)
}

.filter {
  list-style: none;
  padding: 0;
  margin: 0 0 70px
}

.filter>li {
  display: inline-block;
  padding: 0 0 10px;
  margin: 0 25px
}

.works-grid.works-grid-gut {
  margin: 0 0 0 -10px
}

.works-grid.works-grid-gut .work-item {
  padding: 0 0 10px 10px
}

.work-item {
  width: 50%;
  float: left;
  margin: 0
}

.works-grid-3 .work-item {
  width: 33.3333%
}

.container .works-grid-3 .work-item {
  width: 33.2%
}

.works-grid-4 .work-item {
  width: 25%
}

.works-grid-5 .work-item {
  width: 20%
}

.work-item>a {
  position: relative;
  display: block;
  overflow: hidden
}

.gallery-image img, .work-image img {
  display: block;
  overflow: hidden;
  width: 100%
}

.work-image:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0
}

.work-caption {
  width: 100%;
  padding: 0 20px;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  overflow: hidden
}

.work-title {
  font-size: 14px;
  color: #fff;
  margin: 0 0 6px
}

.work-item:hover .work-image>img {
  -webkit-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg)
}

.work-item:hover .work-caption {
  bottom: 50%;
  opacity: 1;
  z-index: 3;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%)
}

.works-grid.works-hover-g .work-image:after {
  opacity: 0
}

.works-grid.works-hover-g .work-item:hover .work-image:after {
  background: #6fe29e;
  background: linear-gradient(135deg, rgba(111, 226, 158, .8) 0, rgba(91, 218, 209, .8) 100%);
  opacity: 1
}

.work-details-title {
  color: #111;
  margin: 0 0 20px
}

.work-details ul>li {
  border-bottom: 1px dotted #c2c2c2;
  padding: 0 0 5px;
  margin: 0 0 5px
}

.callout-text {
  color: rgba(255, 255, 255, .6)
}

.callout-title {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0
}

.callout-btn-box {
  text-align: right;
  padding-top: 4px
}

.request-cta {
  padding: 50px 0
}

.testimonial-text {
  text-align: center;
  font-style: normal;
  font-size: 18px
}

.testimonial-caption {
  text-align: center;
  padding: 10px 0 0
}

.gallery-caption, .post-quote {
  padding: 20px;
  text-align: center
}

.testimonial-descr {
  color: rgba(255, 255, 255, .5);
  font-size: 11px
}

.gallery-item {
  position: relative;
  text-align: center;
  margin: 0 0 20px
}

.gallery-image a.gallery, .panel-heading a {
  position: relative;
  display: block
}

.post-images-slider .flex-control-nav {
  bottom: 0
}

.progress {
  overflow: visible;
  height: 4px
}

.progress-bar span {
  position: absolute;
  display: block;
  right: 0;
  top: -24px;
  opacity: 0;
  line-height: 12px;
  font-size: 12px;
  color: #111;
  padding: 4px 0
}

.progress-bar span:after {
  display: inline-block;
  content: "%"
}

.tab-content .tab-pane {
  padding: 20px 0
}

.panel-heading a:after {
  position: absolute;
  content: "\f106";
  top: 50%;
  right: 0;
  font-family: FontAwesome;
  line-height: 1;
  font-size: 14px;
  margin-top: -7px
}

.panel-heading a.collapsed:after {
  content: "\f107"
}

.table-border>tbody>tr>td, .table-border>tbody>tr>th, .table-border>tfoot>tr>td, .table-border>tfoot>tr>th, .table-border>thead>tr>td, .table-border>thead>tr>th {
  border-color: #e5e5e5
}

.ds-table>tbody>tr>td, .ds-table>tbody>tr>th, .ds-table>tfoot>tr>td, .ds-table>tfoot>tr>th, .ds-table>thead>tr>td, .ds-table>thead>tr>th {
  border-top: 0
}

.checkout-table {
  border: 1px solid #e5e5e5
}

.checkout-table>tbody>tr>td, .checkout-table>tbody>tr>th, .checkout-table>tfoot>tr>td, .checkout-table>tfoot>tr>th, .checkout-table>thead>tr>td, .checkout-table>thead>tr>th {
  padding: 12px
}

.checkout-table tr td, .checkout-table tr th {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5
}

.checkout-table tbody tr td:first-child, .checkout-table tbody tr th:first-child {
  max-width: 36px
}

.sidebar .widget {
  margin-bottom: 60px
}

.widget .widget-title {
  border-bottom: 1px dotted #c2c2c2;
  font-size: 14px;
  padding: 0 0 10px;
  margin: 0 0 15px
}

.widget .icon-list li {
  padding: 5px 0
}

.widget .icon-list li a:before {
  content: "\00BB";
  color: #666;
  padding-right: 5px
}

@media (max-width:1200px) {
  .alt-features-item {
    margin: 20px 0 0
  }
}

@media (max-width:991px) {

  .titan-title-size-4 {
    letter-spacing: 12px;
    font-size: 38px
  }

  .container .works-grid-3 .work-item, .work-item, .works-grid-3 .work-item, .works-grid-4 .work-item, .works-grid-5 .work-item {
    width: 50%
  }
}

@media (max-width:767px) {
  .dropdown-menu.cart-list, .navbar-custom .dropdown-search {
    border-bottom: 1px solid rgba(73, 71, 71, .15) !important
  }

  .navbar-custom li>a:hover {
    background: rgba(255, 255, 255, .1) !important
  }

  .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-custom .navbar-nav .open .dropdown-menu>li>a {
    padding: 10px 25px
  }

  .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu .dropdown-header, .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu>li>a {
    padding: 10px 35px
  }

  .navbar-custom .dropdown-menu .dropdown-toggle:after, .navbar-custom .dropdown-toggle:after {
    right: 7px;
    content: "\f107"
  }

  .navbar-custom .dropdown-menu .dropdown.open .dropdown-toggle:after, .navbar-custom .nav>.open>.dropdown-toggle:after {
    right: 7px;
    content: "\f106"
  }

  .navbar-custom .navbar-nav>li:last-child.navbar-cart>a {
    padding-left: 15px
  }

  .navbar-cart-img, .navbar-custom .cart-item-number {
    display: none
  }

  .navbar-custom .navbar-cart>a:after {
    content: "\f107"
  }

  .navbar-custom .navbar-cart-item a {
    border: 0 !important
  }

  .dropdown-menu.cart-list {
    text-align: left
  }

  .navbar-cart-item {
    border: none;
    border-bottom: 1px solid rgba(73, 71, 71, .15) !important;
    padding-bottom: 10px
  }

  .navbar-cart-title {
    white-space: normal;
    padding: 0;
    margin-left: 0
  }

  .titan-title-size-1 {
    letter-spacing: 2px;
    font-size: 14px
  }

  .titan-title-size-4 {
    letter-spacing: 6px;
    font-size: 28px
  }

  .callout-text {
    margin: 0 0 30px
  }

  .alt-features-item {
    padding-left: 0;
    margin: 0 0 30px;
    text-align: center
  }

  .alt-features-icon {
    position: static;
    width: auto;
    margin: 0 auto 8px
  }

  .align-center-sm, .callout-btn-box, .callout-text, .footer, .menu-detail, .menu-price-detail, .menu-title {
    text-align: center
  }

  .sidebar {
    margin-top: 50px
  }

  .widget {
    margin-bottom: 60px
  }

  .post.mb-0 {
    margin-bottom: 40px !important
  }

  .copyright, .footer-social-links {
    text-align: center;
    margin: 10px 0;
  }

  .align-left-sm {
    text-align: left
  }
}